@import "./variables";
.bg-purple-strong {
  background-color: $purple-strong;
}
.bg-purple-middle {
  background-color: $purple-middle;
}
.bg-purple-soft {
  background-color: $purple-soft;
}
.bg-orange-strong {
  background-color: $orange-strong;
}
.bg-orange-middle {
  background-color: $orange-middle;
}
.bg-orange-soft {
  background-color: $orange-soft;
}
