@import "./variables";
.bg-purple-strong {
  background-color: $purple-strong !important;
}
.bg-purple-middle {
  background-color: $purple-middle !important;
}
.bg-purple-soft {
  background-color: $purple-soft !important;
}
.bg-orange-strong {
  background-color: $orange-strong !important;
}
.bg-orange-middle {
  background-color: $orange-middle !important;
}
.bg-orange-soft {
  background-color: $orange-soft !important;
}

.fill-orange-soft {
  fill: $orange-soft !important;
}
